<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Clock</title>
  <link rel="stylesheet" href="styles.css">
</head>
<body>
  <h2>Check URL Liveness</h2>
  <div id="result">
    <p id="status"></p>
  </div>
  <form id="check-url" type="submit">
    <label for="fname">Enter URL:</label>
    <input type="text" onfocus="this.value=''" value="" id="url" name="name"><br><br>
    <input type="submit" id="check" value="GO">
  </form>
  <script src="script.js" ></script>
</body>
</html> 